body{
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 10px;
}

/*footer css*/
.social:hover {
     -webkit-transform: scale(1.1);
     -moz-transform: scale(1.1);
     -o-transform: scale(1.1);
 }
 .social {
     -webkit-transform: scale(0.8);
     /* Browser Variations: */
     
     -moz-transform: scale(0.8);
     -o-transform: scale(0.8);
     -webkit-transition-duration: 0.5s;
     -moz-transition-duration: 0.5s;
     -o-transition-duration: 0.5s;
 }

/*
    Multicoloured Hover Variations
*/
 
 #social-fb:hover {
     color: #3B5998;
 }
 #social-tw:hover {
     color: #4099FF;
 }
 #social-gp:hover {
     color: #d34836;
 }
 #social-em:hover {
     color: #f39c12;
 }
 
 
.custom-bootstrap-menu{
	padding-top: 50px;
	
}
#custom-bootstrap-menu.navbar-default .navbar-brand {
    color: rgba(255, 255, 255, 1);
}
#custom-bootstrap-menu.navbar-default {
    font-size: 14px;
    background-color: rgba(221, 51, 51, 1));
    background: -webkit-linear-gradient(top, rgba(248, 248, 248, 1) 0%, rgba(221, 51, 51, 1) 100%);
    background: linear-gradient(to bottom, rgba(248, 248, 248, 1) 0%, rgba(221, 51, 51, 1) 100%);
    border-width: 3px;
    border-radius: 6px;
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(248, 248, 248, 0);
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:focus {
    color: rgba(51, 51, 51, 1);
    background-color: rgba(248, 248, 248, 0);
}
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:focus {
    color: rgba(85, 85, 85, 1);
    background-color: rgba(231, 231, 231, 1);
}
#custom-bootstrap-menu.navbar-default .navbar-toggle {
    border-color: #ddd;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus {
    background-color: #ddd;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle .icon-bar {
    background-color: #888;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover .icon-bar,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #dd3333;
}

.navbar-fixed-bottom{
	min-height: 30px !important;
}


.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 60%;
      height: 400px;
      margin: auto;
  }
  
h2{
	color: #DD3333;
	width:100%;
}

.main-content {
    padding: 50px;
    padding-top: 20px;
  }
  
.top_image{
	margin-bottom: 1%;
}

.height100{
	height: 100%;
}

strong{
	color: #DD3333;
}

.image-inform {
    float: right;
    width: 30%;
    margin-right: 5%;
    padding: 15px;
    border: 1px solid black;
    text-align: center;
    background: -webkit-linear-gradient(top, rgba(248, 248, 248, 1) 0%, rgba(180, 51, 51, 1) 100%);
    background: linear-gradient(to bottom, rgba(248, 248, 248, 1) 0%, rgba(180, 51, 51, 1) 100%);
    color:white;
    
}
