<div class="height100">
	<span class="pull-left text-center image-inform" style=""> <img
		alt="Amar Singh" src="images/amar_singh.jpg" align="bottom" class="img-responsive"/>
	<b>Co-founder Shree Sai Motors Pvt Ltd</b>
	</span> <span class="text-justify">
		<p>Incepted in the year 2016, at <b>Koderma (Jharkhand, India)</b>, we
			<strong>“Shree Sai Motors Pvt Ltd”</strong>, are engaged in dealing a qualitative
			assortment of Loader E Rickshaw, 4 Seater E Rickshaw and 6 Seater E
			Rickshaw. Our company is Private Limited, based company.</p>
	</span>
</div>