<div id="custom-bootstrap-menu" class="navbar navbar-default">
        <span>
        	<a href="#"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a>
	            <a href="#"><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i></a>
	            <a href="mailto:singh1990.amar@gmail.com"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a>
        </span>   
        <span class="muted pull-right text-center"><b>© 2016 Designed & Devloped </br>Roushan Kumar</b></span>
      </div>