<div class="top_image">
	<span><img src="images/modi.jpg" class="pull-left" height="100"
		width="10%" /><img src="images/make_in_india_logo.jpg" height="100"
		width="40%" style="margin-left: 15%" /><img
		src="images/swacha_Bharat_Logo.jpg" class="pull-right" height="100"
		width="20%" /></span>
</div>
<div>
	<span>
		<i class="glyphicon glyphicon-envelope"></i>&nbsp;singh1990.amar@gmail.com
	</span>
	<span class="pull-right">
		<i class="glyphicon glyphicon-phone-alt"></i>&nbsp;+91-9693802221
	</span>
	
</div>

<div id="custom-bootstrap-menu" class="navbar navbar-default"
	role="navigation">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="#"><span><img height="30px"
					width="40px" src="images/logo.png" /><b class="text-primary">Shri
						Sai Motors</b></span></a>
			<button type="button" class="navbar-toggle" data-toggle="collapse"
				data-target=".navbar-menubuilder">
				<span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span
					class="icon-bar"></span><span class="icon-bar"></span>
			</button>
		</div>
		<div class="collapse navbar-collapse navbar-menubuilder">
			<ul class="nav navbar-nav navbar-left">
				<li ui-sref-active="active"><a ui-sref="home">Home</a></li>
				<!-- <li><a href="#">Products</a></li> -->
				<li ui-sref-active="active"><a ui-sref="aboutUs">About Us</a></li>
				<!-- <li><a href="#">Contact Us</a></li> -->
			</ul>
		</div>
	</div>
</div>